*.build
*.changes
*.deb
*.dsc
*.in
*.la
*.lineno
*.lo
*.o
*.orig
*.rpm
*.so
*.tar.gz
*.tgz
.*.swp
*~
.deps/
.libs/
.vagrant/
/Makefile
ar-lib
autom4te.cache/
config.guess
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
docker/*.sql
docker/dell*
config.h
install-sh
libtool
libzbxredis-*/
ltmain.sh
missing
src/**/Makefile
stamp-h1
m4/*
!m4/ax_lib_hiredis.m4
!m4/ax_header_hiredis.m4
!m4/ax_header_zabbix.m4
